<!--Navigation bar-->
<div class="menu-wrapper">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Todas
        </a>
      </div>
      <div ng-show="user" ng-controller="signoutCtrl">
        <a ng-click="isDisabled=true;logout();" 
           class="navbar-right btn btn-default navbar-btn" 
           ng-class="{disableLink:isDisabled}">
            <span class="glyphicon glyphicon-log-out"></span>Logout
        </a>
      </div>
      <!--showing user data-->
      <div ng-show="user" ng-controller="userCtrl" class="user-profile-wrapper">
        <p class="navbar-text navbar-right user-name">Welcome, {{uname}}</p>
      </div>
      <!--Loader displays if user data is getting loaded-->
      <i ng-show="!user && isDashboard" class="navbar-right fa fa-spinner fa-spin loader"></i>
      <a ui-sref="signup" ng-if="!isDashboard" class="navbar-right btn btn-default navbar-btn">Register</a>
      <a ui-sref="signin" ng-if="!isDashboard" class="navbar-right btn btn-default navbar-btn">Sign in</a>
    </div>
  </nav>
</div>
<!--End of Navigation bar-->