<!--TO DO List Div-->
<div>
  <div>
    <!--Textbox for adding a new task-->
    <input type="text" 
            ng-keyup="$event.keyCode == 13 && [addTask()]" 
            ng-disabled="isUserEditing" 
            placeholder="What needs to be done?"
            ng-model="toDoItemTxtBox" 
            class="customTextBox form-control"
            maxlength="250"
            focus-if="!isUserEditing"
    />
  </div>
  <div class="container">  
      <div class="well">
        <!-- filter tab's-->
        <ul class="nav nav-tabs header-text">
            <li>
              <input class="selectAll-checkbox" 
                     ng-click="toggleAll()"   
                     ng-model="isAllSelected" 
                     type="checkbox" 
              />
            </li>
            <li ng-class="{'active': displayStatus===false}" ng-click="filterData(false)"><a href="#">Active Task's</a></li>
            <li ng-class="{'active': displayStatus===true}" ng-click="filterData(true)"><a href="#">Completed To-Do's</a></li>
        </ul> 
        <!--loader untill data gets display on the screen-->
        <center><i ng-show="!user" class="fa fa-spinner fa-spin text-center loader-todo" style="font-size:120px;"></i></center>
        <ul class="list-group list-group-todo">
          <!--Listing all the Existing task using ng-reapet, Filter using displaystatus-->
          <li class="list-group-item"  
              ng-repeat="element in toDoList track by $index" 
              ng-show="displayStatus === element.status"
              ng-init="element.status?completedTaskCounter():activeTaskCounter()" >
            <!--Starting task row-->
            <div class="row">
              <p class="taskDetails">
                <!--Checkbox for updating task status-->
                <input ng-disabled="isUserEditing"
                       type="checkbox" 
                       class="input-md" 
                       ng-model="element.status" 
                       ng-click="updateTaskStatus(element);" />
                <!-- enabledCellIndex helps to toggle cell into input text box-->
                <p ng-hide='enabledCellIndex == element.uid' 
                      ng-class="{strike:element.status}" 
                      ng-click="maintainUpdateValue(element.task_name);enabledCellIndex=element.uid;">
                        {{element.task_name}}
                </p>
                <p ng-show="enabledCellIndex == element.uid">
                  <input type="text" 
                          focus-if="enabledCellIndex == element.uid" 
                          ng-blur="enabledCellIndex == element.uid && [updateValue(element.task_name,element.uid),enabledCellIndex=-1]"
                          ng-model="element.task_name" 
                          value="{{element.task_name}}" 
                          ng-keyup="$event.keyCode == 13 && [updateValue(element.task_name,element.uid),enabledCellIndex=-1]"
                          class="editTextBox"
                  />
                </p>
              </p>
              <p class="taskActions">
                <!--Remove Element from the task list-->
                <span ng-hide='enabledCellIndex == element.uid'>
                  <!--remove task icon-->
                  <i ng-disabled="isUserEditing==true" 
                      ng-hide="loading==element.uid" 
                      ng-class="{'disableUserAction':isUserEditing}" 
                      class="far fa-trash-alt"
                      ng-click="removeUserTask(element.uid)">
                  </i>
                  <!--remove loader-->
                  <i ng-show="loading==element.uid" 
                      ng-class="{'fa-spin':loading==element.uid}" 
                      class="fas fa-circle-notch">
                  </i>
                </span>
                <!--Update OK button-->
                <p ng-show="enabledCellIndex == element.uid">
                  <button ng-click="updateValue(element.task_name,element.uid);enabledCellIndex=-1;" 
                          class="btn btn-primary edit-item">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </p>
              </p>
            </div>
            <!--end of task row-->
          </li>
        </ul>
        <!--Custom Message when list is empty-->
        <h3 ng-if="user && toDoList.length===0" class="text-center">Your todo list is empty</h3>
      </div>
  </div>
</div><!--end of TO DO List Div-->
